node_modules
npm-debug.log
tmp
doc
docs
.c9revisions
.idea/.name

.idea/encodings.xml

.idea/libraries/grunt_jsdoc_node_modules.xml

.idea/jsLibraryMappings.xml

.idea/grunt-jsdoc.iml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/vcs.xml

.idea/workspace.xml
